@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*************************************************************************************************/
* {
 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.background {
  background-color: #f6f9fc;
  padding: 50px 0;
}
.container {
  max-width: 90%;
  margin: 0;
}
.d_flex {
  display: flex;
  justify-content: space-between;
}
.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_flex {
  display: flex;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
/*ana 3amlaloo comment*/
/*.RText{
  text-align: right;
}*/

input,
button {
  /* 25ly field bta3t text say7aa m3ah keda*/
  border: none;
  /* by4el lma 2d8t 3l4an 2ktb border yroo7*/
  outline: none;
  background-color: none;
}

.row{
  width:50%;
}
.icon-circle{
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #f3f5f9;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
}
.boxShadow {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}
/*******************category***********/
.contentWidth{
width:77%
}
.category{
  width:23%;
  box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
  /*height:510px;*/
  /*i commented*/
  padding:15px 0;
  border-radius: 5px;
  margin-top: 5px;
  /*i added*/
  position: relative;
  right:-50px;
  }
.category img{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;
}
.category span{
  margin:10px 20px;
  text-transform: capitalize;
  /*i added*/
  font-size: 18px;
}
.category .box:hover{
  background-color: #ffe1ef;
  cursor: pointer;
}
/******************************************************************/
.btn-primary {
  background: #e94560;
  padding: 13px 40px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}
.top {
  margin-top: 80px;
}
.mtop {
  margin-top: 40px;
}
.heading i{
  color: rgb(255, 153, 204);
  margin: 10px;
}

/*********Products*************/
.product {
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  /*fara8 ben kol item*/
  margin: 10px;
  
}
.discount {
  position: absolute;
  top: 0;
  left: 0;
  background: #ef6c82;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  color: #fff;
  margin: 10px;
}
/*name of product*/
.product h3 {
  font-weight: 400;
  font-size: 17px;
}
/*stars*/
.product .rate i {
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}
.product .price {
  display: flex;
  justify-content: space-between;
  color:#e94560;
}
/*+ button*/
.price button {
  background: none;
  color:#e94560;
  font-size: 20px;
  transition: 0.5s;
  /*draw square arround the +*/
  border: 1px solid rgb(3 0 71 / 9%);
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
.price button:hover {
  cursor: pointer;
  background-color:rgb(255, 153, 204);
  color: #fff;
}
.product-like {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  /*75fih*/
  opacity: 0;
  transition: 0.5s;
}
.product-like label {
  background-color: #0f3460;
  padding: 1px 10px;
  font-size: 12px;
  color: white;
  border-radius: 50px;
}
.product-like i {
  font-size: 20px;
  margin: 10px 3px;
}
.product:hover .product-like {
  /*7zhro lma 2d8t 3la el 4a4a*/
  opacity: 1;
}
/*---------product-----------*/
/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  line-height: 60px;
  background: #696767;
  border-radius: 50%;
  transform: 0.5s;
  z-index: 5;
}
.control-btn .prev {
  left: -5px;
}
.control-btn .next {
  right: -5px;
}
.control-btn .prev i,
.control-btn .next i {
  font-size: 20px;
  transition: 0.5s;
  color: #fff;
}
.control-btn .prev:hover,
.control-btn .next:hover {
  background:#ef6c82 ;
  color: white;
  cursor: pointer;
}
/*----- control btn -------*/
/*----- heading -------*/
.heading .heading-left i {
  font-size: 30px;  
}
.heading .heading-left h2 {
  font-size: 25px;
  margin: 5px;
  position:absolute;
  left:150px;
}

.heading .heading-right {
  text-align: right;
  color: grey;
 
}
.heading .heading-right i{
  text-align: right;
  color: grey;
 position:inherit;
}
/**/
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}




